@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.show
{
  transform: translateX(0) ;
  transition: translate 200ms ease-in ;
}
.board-row
{
  display: flex;
}
.square
{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  border: 1px solid black;
}
.error
{
  color:red
}
.counter
{
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0 0 1px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  row-gap: 5px;
}
.fancy
{
  border: 2px solid yellow;
  box-shadow: 0 0 1px 2px yellow;
  color: red;
}
.hover
{
  background-color: antiquewhite;
}

.section 
{
  padding: 10px;
  height:fit-content;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}


