@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.show
{
  transform: translateX(0) ;
  transition: translate 200ms ease-in ;
}
.board-row
{
  display: flex;
}
.square
{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  border: 1px solid black;
}


